.subtitle {
  font-family: Heebo;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
  color: #333333;
  margin-left: 16.6px;
}

mat-toolbar {
  background-color: transparent;
}

.container {
  padding-left: 115px;
  padding-right: 114px;
  padding-top: 42px;
  background-image: url("../../../assets/images/bg2.png");
  min-height: 980px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
